/vendor/
.env
.DS_Store
/node_modules/
/build/
/dist/
*.log
*.cache
.idea/
.vscode/
composer.lock
package-lock.json
/sample/


/app/
/config/
/public/
/storage/
/resources/
/theplugs
/test.php
/routes
/bootstrap/
/database/*
settings.json
/verify_form.php
plugs.lock
