/vendor/
.env
.DS_Store
/node_modules/
/build/
/dist/
*.log
*.cache
.idea/
.vscode/
composer.lock
package-lock.json
/sample/

/public/assets/
/public/plugs/
/public/.htaccess
/app/
/config/
/storage/
/resources/
/theplugs
/routes
/bootstrap/
/database/*
plugs.lock
