/vendor/
.env
.DS_Store
/node_modules/
/build/
/dist/
*.log
*.cache
.idea/
.vscode/
composer.lock
composer.json
package-lock.json
/sample/


/app/
/config/
/public/
/storage/
/resources/
/theplugs
/routes
/bootstrap/
/database/*
plugs.lock
