#!/usr/bin/env php
<?php

declare(strict_types = 1)
;

/*
 |----------------------------------------------------------------------
 | Define Constants for the Console
 |----------------------------------------------------------------------
 */

use Plugs\Console\ConsoleKernel;
use Plugs\Console\ConsolePlugs;
use Plugs\Plugs;

define('BASE_PATH', __DIR__ . DIRECTORY_SEPARATOR);

require BASE_PATH . 'vendor/autoload.php';

/*
 |----------------------------------------------------------------------
 | Initialize Application via Bootstrapper
 |----------------------------------------------------------------------
 */
$bootstrapper = new \Plugs\Bootstrap\Bootstrapper(BASE_PATH);
$app = $bootstrapper->boot();
$GLOBALS['app'] = $app;

/*
 |----------------------------------------------------------------------
 | Run Console Application
 |----------------------------------------------------------------------
 */
$kernel = new ConsoleKernel();
$console = new ConsolePlugs($kernel);

exit($console->run($argv));
